* {
    margin:0;
    scroll-behavior:smooth;
}
body {
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    font-family: sans-serif;
    grid-template-areas: 
    "header header header header header header"
    ". main main main main ."
    "about about about about about about"
    "projects projects projects projects projects projects";
}
main {
    min-height:90vh;
    box-sizing: border-box;
    margin:0 0 50px 0;
    grid-area:main;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
header {
    min-height:10vh;
    margin:10px 0 0 0;
    grid-area:header;
    color:black;
    text-align:center;
    align-self:center;
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    grid-template-areas: 
    "name . . . . nav";
    background-color:transparent;
    z-index:1000;
    position:sticky;
    top:10px;
    left:0;
}
header h1 {
    grid-area:name;
    margin:10px;
    align-self:center;
    background: linear-gradient(#fcf3a5 0%, #FFD700 100%);
	-webkit-background-clip: text;
    background-clip:text;
        -webkit-text-fill-color: transparent;
}
nav {
    grid-area:nav;
    background-color:transparent;
}
ul.a_word {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
ul.a_word li {
    justify-content:center;
    list-style-type: none;
    margin:10px;
    padding:15px;
}
ul.a_word li a {
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:10px;
}
.default_a {
    position:relative;
}
.default_a::after{
    border-radius:10px;
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.default_a:hover::after{
      height: calc(100% + 8px);
}
.a_icon {
    display:none;
}
nav ul {
    list-style-type:none;
}
.icon_a {
    color:white;
    font-size:21px;
    margin:10px;
}
.resume_icon {
    font-size:21px;
    color:#dab900;
    margin:10px;
}
a.resume {
    background-color:#dab900;
    color:white;
    border:#dab900 2px solid;
    border-radius:10px;
}
a.resume:hover {
    transition:0.3s;
    color: #dab900;
    background-color:white;
}
section.intro {
    color:white;
    text-align:center;
    font-size:40px;
    align-self:center;
    margin:5px auto;
    padding:10px;
    box-sizing:border-box;
}
.wave {
    font-size:50px;
}
.name {
    /* color:#dab900; */
    color:#FFD700;
    text-transform:uppercase;
    font-weight:bold;
}
main img {
    width:395px;
    transition:all 0.5s ease;
    border:0px #dab900 solid;
    border-radius:197.5px;
    margin:auto 0px;
    box-sizing:border-box;
}
img.image2 {
    display:none;
}
main img:hover {
    border:10px #dab900 solid;
}
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
.icon {
    color:#FFD700;
    margin:40px;
    transform:scale(1.75);
    transition:0.5s ease all;
}
.icon:hover {
    color:#ffffff;
}
section.about {
    grid-area:about;
    background-color:rgba(255,255,255,0.5);
}
section.about h1 {
    color:white;
    text-decoration:underline;
    padding:20px;
    font-size:35px;
    text-align:center;
}
section.about p {
    color:white;
    font-size:22px;
    text-align:center;
    max-width:900px;
    line-height:50px;
    margin:0 auto;
    padding:10px;
    overflow-wrap:break-word;
}
section.about span {
    color:#FFD700;
    font-size:30px;
    font-weight:bold;
}
section.projects {
    grid-area:projects;
    margin:13% 0;
}
section.projects h1 {
    color:#FFD700;
    text-align:center;
    padding:15px;
    font-size:35px;
}
script.vanilla {
    display:none;
}
/* div.container {
    grid-area:container;
    display:grid;
    grid-template-areas: 
    "header header header header header header"
    ". main main main main .";
    min-height:100vh;
} */

#particles-js {
    background-image: url(img/black.png);
    background-size:cover;
    height:100%;
    width:100%;
    z-index:-50;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

@media screen and (max-width:1099px) {
    main img {
        width:50%;
        border-radius:50%;
    }
}
@media screen and (max-width:780px) {
    ul.a_word {
        display:none;
    }
    .a_icon {
        display:flex;
    }
}
@media screen and (max-width:415px) {
    img.image {
        display:none;
    }
    img.image2 {
        display:block;
    }
}
/* @media screen and (min-width:1169px) {
    header {
        transform:translateY(-14px);
    }
} */
