* {margin:0}
body {
    /* background-color: black; */
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    grid-template-areas: 
    "header header header header header header";
}
header {
    grid-area:header;
    color:black;
    /* background-color:white; */
    text-align:center;
    align-self:center;
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    grid-template-areas: 
    "name . . . . nav";
    background-color:transparent;
    z-index:1000;
    position:sticky;
    top:0;
}
header h1 {
    grid-area:name;
    margin:10px;
    align-self:center;
    background: linear-gradient(to right, #3088d0 0%, rgb(1, 1, 156) 100%);
	-webkit-background-clip: text;
    background-clip:text;
        -webkit-text-fill-color: transparent;
}
nav {
    grid-area:nav;
    background-color:transparent;
}
nav ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
nav li {
    justify-content:center;
    list-style-type: none;
    margin:10px;
    padding:15px;
}
nav li a {
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:10px;
}
a.resume {
    background-color:rgb(1, 1, 156);
    color:white;
    border:rgb(1, 1, 156) 1px solid;
    border-radius:10px;
}

#particles-js {
        background-image: url(img/black.png);
        background-size:cover;
        height:680px;
        width:1000px;
        position:absolute;
        top:0;
        left:0;
        /* display:flex; */
        width:100%;
}
