* {
    margin:0;
    scroll-behavior:smooth;
}
body {
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    font-family: sans-serif;
    grid-template-areas: 
    "header header header header header header"
    ". main main main main ."
    "about about about about about about"
    "projects projects projects projects projects projects"
    "contact contact contact contact contact contact"
    "footer footer footer footer footer footer";
}
main {
    min-height:90vh;
    box-sizing: border-box;
    margin:0 0 50px 0;
    grid-area:main;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
header {
    min-height:10vh;
    margin:10px 0 0 0;
    grid-area:header;
    color:black;
    text-align:center;
    align-self:center;
    display:grid;
    grid-template-columns:6;
    grid-auto-rows: minmax(100, auto);
    grid-template-areas: 
    "name . . . . nav";
    background-color:transparent;
    z-index:1000;
    position:sticky;
    top:10px;
    left:0;
}
header h1 {
    grid-area:name;
    margin:10px;
    align-self:center;
    background: linear-gradient(#fcf3a5 0%, #FFD700 100%);
	-webkit-background-clip: text;
    background-clip:text;
        -webkit-text-fill-color: transparent;
}
nav {
    grid-area:nav;
    background-color:transparent;
}
ul.a_word {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
ul.a_word li {
    justify-content:center;
    list-style-type: none;
    margin:10px;
    padding:15px;
}
ul.a_word li a {
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:10px;
}
.default_a {
    position:relative;
}
.default_a::after{
    border-radius:10px;
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.default_a:hover::after{
      height: calc(100% + 8px);
}
.a_icon {
    display:none;
}
nav ul {
    list-style-type:none;
}
.icon_a {
    color:white;
    font-size:21px;
    margin:10px;
}
.resume_icon {
    font-size:21px;
    color:#dab900;
    margin:10px;
}
a.resume {
    background-color:#dab900;
    color:white;
    border:#dab900 2px solid;
    border-radius:10px;
}
a.resume:hover {
    transition:0.3s;
    color: #dab900;
    background-color:white;
}
section.intro {
    color:white;
    text-align:center;
    font-size:40px;
    align-self:center;
    margin:5px auto;
    padding:10px;
    box-sizing:border-box;
}
.wave {
    font-size:50px;
}
.name {
    color:#FFD700;
    text-transform:uppercase;
    font-weight:bold;
}
main img {
    width:395px;
    transition:all 0.5s ease;
    border:0px #dab900 solid;
    border-radius:197.5px;
    margin:auto 0px;
    box-sizing:border-box;
}
img.image2 {
    display:none;
}
main img:hover {
    border:10px #dab900 solid;
}
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
.icon {
    color:#FFD700;
    margin:40px;
    transform:scale(1.75);
    transition:0.5s ease all;
}
.icon:hover {
    color:#ffffff;
}
section.about {
    grid-area:about;
    background-color:rgba(255,255,255,0.5);
}
section.about h1 {
    color:white;
    text-decoration:underline;
    padding:20px;
    font-size:35px;
    text-align:center;
}
section.about p {
    color:white;
    font-size:22px;
    text-align:center;
    max-width:900px;
    line-height:50px;
    margin:0 auto;
    padding:10px;
    overflow-wrap:break-word;
}
section.about span {
    color:#FFD700;
    font-size:30px;
    font-weight:bold;
}
#about {
    position:relative;
    top:-70px;
}
section.projects {
    grid-area:projects;
    margin:13% auto;
    max-width:1000px;
}
section.projects h1 {
    color:#FFD700;
    text-align:center;
    padding:15px;
    font-size:35px;
}
.cards {
    display:flex;
    list-style:none;
    justify-content:center;
    flex-wrap:wrap;
}
.card {
    text-decoration:none;
    margin:20px;
    flex-grow:1;
    width:16em;
    max-width:410px;
    min-height:356px;
    border:2px solid #ffd900c9;
    border-radius:10px;
    display:grid;
    grid-template-areas: 
    "heading" 
    "image"
    "text"
    "div";
}
div.card h2 {
    grid-area:heading;
}
div.card img {
    grid-area:image;
}
div.card p {
    grid-area:text;
}
div.card div {
    grid-area:div;
    display:flex;
    align-self:flex-end;
    justify-content:center;
}
.card:hover {
    transform:translateY(-5px);
    box-shadow:0px 0px 16px 3px #ffd900c9;
}
section.projects h2 {
    color:white;
    text-align:center;
    padding:20px;
}
section.projects img {
    width:100%;
    text-align:center;
}
section.projects p {
    color:white;
    font-size:1.2em;
    line-height:27px;
    text-align:center;
    font-family: sans-serif;
    padding:5px;
}
.p_icon {
    color:#ffff;
    transform:scale(2);
    margin:20px;
}
.p_icon:hover {
    animation:spin 1.5s both infinite linear;
}
.p_img {
    transform:translateY(13px);
}
.p_img:hover {
    animation:spin_img 1.5s both infinite linear;
}
#projects {
    position:relative;
    top:-60px;
}
section.contact {
    grid-area:contact;
    height:75vh;
}
section.contact h1 {
    color:#FFD700;
    font-size:35px;
    text-align:center;
    margin:10px auto;
}
section.contact p {
    color:white;
    text-align:center;
    font-size:22px;
    padding:5px;
}
.c_icons {
    font-size:25px;
    text-align:center;
}
#contact {
    position:relative;
    top:-70px;
}
footer {
    grid-area:footer;
    height:35px;
    display:flex;
    justify-content:flex-end;
    align-content:center;
    height:10vh;
}
.arrow {
    color:white;
    font-size:35px;
    margin:20px;
    padding:10px;
}

#particles-js {
    background-image: url(media/black.png);
    background-size:cover;
    height:100%;
    width:100%;
    z-index:-50;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}
@keyframes spin {
    0% { transform:scale(2) rotateZ(0deg) }
    100%{ transform: scale(2) rotateZ(360deg) }
}
@keyframes spin_img {
    0% { transform: translateY(13px) rotateZ(0deg) }
    100%{ transform: translateY(13px) rotateZ(360deg) }
}

@media screen and (max-width:1099px) {
    main img {
        width:50%;
        border-radius:50%;
    }
}
@media screen and (max-width:780px) {
    ul.a_word {
        display:none;
    }
    .a_icon {
        display:flex;
    }
}
@media screen and (max-width:415px) {
    img.image {
        display:none;
    }
    img.image2 {
        display:block;
    }
}
@media screen and (max-width:1168px) and (min-width:781px) {
    #about {
        top:-142px;
    }
    #projects {
        top:-142px;
    }
}
@media screen and (min-width:917px) {
    .card {
        max-width:280px;
    }
}
